.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    padding: 10px 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    font-size: 24px;
    font-weight: bold;
    color: #EC87EF;
    text-decoration: none;
}

.header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header__nav-item a{
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: none;
    background-color: #F7F7F7;
    border: solid 1px #CDCDCD;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    height: 40px;
    color: black;
}

.header__nav-item button{
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: none;
    background-color: #F7F7F7;
    border: solid 1px #CDCDCD;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    width: 130px;
    height: 40px;
    color: black;
}

.header__nav-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}