body {
    background-color: #F9F9F9;
}

.target-weight-form {
    background-color: #fff;
    padding: 40px;
    width: 470px;
    margin: 50px auto;
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #424242;
    margin: 30px auto;
}

.input-group {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 430px;
    margin: 30px auto;
}

.weight-input {
    font-size: 20px;
    padding: 10px;
    width: 80%;
    text-align: right;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.unit {
    width: 20px;
    color: #757575;
}

.error {
    color: red;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.back-button {
    width: 150px;
    padding: 12px 30px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: #757575;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    opacity: 0.8;
}

.update-button {
    width: 200px;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    background: linear-gradient(to right, #e0aaff, #c2e0ff);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.update-button:hover {
    opacity: 0.8;
}